<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doan Kim Trong</title>
    <link rel="stylesheet" href="./stylesheets/css.css">
</head>
<body>
    <h1>Lấy dữ liệu cơ bản từ form</h1>
    <form action="">
        <b>x</b> = <input type="text" id="txt_x" /> <br> <br>
        <b>y</b> = <input type="text" id="txt_y"/> <br>  <br>
        <button type="button" onclick="TinhTong()">Tính tổng</button> <br> <br>
        Kết quả: <a1 id="ketqua"><b><span style="color:red"id="kq"></span></b></a1>
    </form>
    <script src="javascripts/js.js"></script>
    <br><br>

    <a href= " https://www.google.com.vn/?hl=vi " > Cách chèn link trong HTML </a>

</body>
</html>